*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: inherit; 
  font-weight: semi-bold;
  transition: color 0.3s;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.logo-container {
  flex: 1;
}

.logo {
  width: 170px;
  height: auto;
}

.nav-items {
  text-align: right;
}

.nav-items > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items > ul > li {
  text-decoration: none;
  margin: 0 20px;
  padding: 10px;
  font-weight: 300;
  font-size: 1.2em;
  color: #444141;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-items > ul > li > a {
  text-decoration: none; 
  color: inherit; 
  font-weight: inherit;
}


.nav-items > ul > li:hover {
  color: #e68403;
}

.restCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: white;
  border-radius: 8px;
  width: 230px;
  height: 300px;
  line-height: 1.2;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.restCardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.restCard:hover {
  transform: scale(0.95);
  box-shadow: none;
  cursor: pointer;
}

.restCard img,
.restCard p {
  transition: none;
}

.rating {
  width: 15px;
  height: auto;
  position: relative;
  top: 1px;
  left: 1px;
}

.restCard p {
  text-align: left;
  width: 100%;
}

.restImg {
  width: 100%;
  height: 45%;
  object-fit: cover;
  border-style: none;
  border-radius: 5px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.search input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px;
  outline: none;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search span {
  display: flex;
}

.search .searchBtn {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 25px 25px 0;
  background-color: #fc8019;
  color: white;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.search .searchBtn:hover {
  background-color: #a14901;
}

.filterRating {
  cursor: pointer;
  background: #ffffff;
  height: 40px;
  border: 0.5px solid rgb(97, 96, 96);
  border-radius: 20px;
  text-align: center; 
  display: inline-block;
  font-size: 15px;
  margin: 4px 22px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.filterRating:hover,
.filterRating.active { 
  color: #fff;
  background-color: #fc8019;
}


.login {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius:25px;
  background-color: #fc8019;
  color: white;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.login:hover {
  background-color: #a14901;
}

.restaurant-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.restaurant-name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.restaurant-info {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.ratings {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.ratingImg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  
}

.price {
  font-weight: bold;
  color: #444;
  white-space: nowrap;
  margin-left: 20px;
}

.restaurant-cuisines {
  font-size: 14px;
  margin-bottom: 10px;
}

.restaurant-location {
  font-size: 14px;
  margin-bottom: 20px;
}

.restaurant-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.restaurant-menu {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.restaurant-menu h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.restaurant-menu ul {
  list-style-type: none;
  padding: 0;
}

.restaurant-menu li {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.restaurant-menu li:last-child {
  border-bottom: none;
}

.restaurant-menu li:hover {
  background-color: #f9f9f9;
  padding: 5px;
  border-radius: 5px;
}

.delivery-info {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: #666;
}

.delivery-info i {
  margin-right: 5px;
}

.boldDot {
  font-size: 20px;
  font-weight: bolder;
}